<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect and sync with other nearby apps</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to sync with other nearby apps</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http-alt._tcp.</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
